/* CSS Reset (para remover da página margin e padding que não queremos */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    /* top, left, bottom, right, topo, direita, base, esquerda */
    padding-top: 4px;
    padding-left: 6px;
    padding-bottom: 5px;
    padding-right: 7px;

    /* Shorthand padding */
    padding: 4px 6px 5px 7px;
}
